// HEADER
header{
    /* MENU NAVEGACION */
    nav ul {
        list-style-type: none; /* Quita los puntos de las listas */
        display: flex; /* Hace que los elementos de la lista estén en línea horizontal */
        justify-content: center; /* Centra los elementos de la lista en el medio */
        padding: 60px 20px; 
        li { /* elementos de la lista - espacio entre los elementos del menú */
            margin: 0 30px; 
            a { /* Estilos para los enlaces del menú */
                text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
                color: #0f0f0f; 
                font-size: 2rem; 
                padding: 10px 15px;
                &:hover { /* Efecto cambio color al pasar el ratón sobre los links */
                  background-color: #82a0aa; /* Cambia el fondo al pasar el ratón sobre los enlaces */
                  color: white; 
                  border-radius: 5px;
                }
              }
              
          }
      }
}
/* CIERRE STYLES MENU NAVEGACION */

/* Reset de CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* colores 
#2a272a;
#4b4a54;
#677381;
#82a0aa;
*/

html{
    /* hace que un rem deje de valer 16px y pasa a 10
    1rem = 10px */
    font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0f0;
  min-height: 100vh;
}


main {
  flex: 1; /* Hace que main ocupe el espacio disponible */
}