/* SECCIÓN PRINCIPAL HOME "main-section" */
/* Estilo general de la sección main */

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #f0f0f0;
    
    content { /* Contenido de texto a la izquierda */
        max-width: 50%;
        text-align: left;
      }
    sub {
        color: #677381; 
        font-weight: bold;
        font-size: 0.9em;
        letter-spacing: 1px;
      }
    h1 { /* Estilo de encabezado principal */
        font-size: 2.5em;
        line-height: 1.2;
        margin: 10px 0;
        color: #2a272a;
      }
    p {
        font-size: 1em;
        margin: 20px 0;
        color: #2a272a;
      }
    .image-section { /* Sección de imágenes a la derecha */
        display: flex;
        gap: 20px; /* Espacio entre tarjetas */
      }
    .image-card { /* Tarjetas de imagen */
        position: relative;
        border-radius: 15px;
        width: 250px;
        height: 350px;
      }
      .card1 {
        background-image: url('../img/workin2.jpg');
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 350px;
        border-radius: 15px;
      }
      .card2 {
        background-image: url('../img/personal-image.png');
        background-size: cover;
        background-position: center;
        width: 250px;
        height: 350px;
        border-radius: 15px;
      }
      .button-cta {
        display: inline-block; /* se comporta como un botón */
        margin-top: 30px;
        padding: 15px 30px; 
        background-color: #677381; 
        color: white;
        font-size: 1.6rem;
        border-radius: 50px;
        text-decoration: none; /* subr del enlace */
        transition: background-color 0.3s ease, transform 0.3s ease; /* animation */
        font-weight: bold;
        text-align: center;
      }
      
      /* Efectos de hover y focus */
      .button-cta:hover,
      .button-cta:focus {
        background-color: #2a272a; /* cambia color fondo al pasar el clic */
        transform: scale(1.05); /* animation */
      }
  }
  /* CIERRE "main-section" */